:root {
  --sw-background-color: #000000;
  --sw-light-background-color: #242424;
  --sw-super-light-background-color: #464646;
  --sw-font-color: #ffffff;
  --sw-light-font-color: #cccccc;
  --sw-font-color-error: #a94442;
  --sw-font-family: Consolas, monaco, monospace;
  --sw-font-size: 62.5%; // such that 1rem == 10px

  --sw-header-height: 38px;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sw-background-color);
  color: var(--sw-font-color);
}

html {
  font-size: var(--sw-font-size);
}

* {
  box-sizing: border-box;
  font-family: var(--sw-font-family);
}

body.loading {
  background-image: url(../../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#header {
  display: block;
  height: var(--sw-header-height);
  line-height: var(--sw-header-height);
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #343434;

  h1 {
    font-size: 12px;
    margin: 0;
    padding-left: 12px;
  }
}

#main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--sw-header-height));
}

.col-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  dotpi-controls {
    height: 430px;
    min-width: 700px;
    overflow: auto;
  }

  dotpi-client-list {
    border-top: 1px solid var(--sc-color-primary-3);
    height: calc(100% - 430px);
  }
}

.vertical-handle {
  width: 1px;
  height: 100%;
  background-color: var(--sc-color-primary-4);
  cursor: ew-resize;
}

.horizontal-handle {
  height: 1px;
  width: 100%;
  background-color: var(--sc-color-primary-4);
  cursor: ns-resize;
}

dotpi-log {
  position: relative;
  z-index: 3;
  width: 50%;
  height: calc(100vh - var(--sw-header-height));
}
