:root {
  --sw-background-color: #000000;
  --sw-light-background-color: #242424;
  --sw-super-light-background-color: #464646;
  --sw-font-color: #ffffff;
  --sw-light-font-color: #cccccc;
  --sw-font-color-error: #a94442;
  --sw-font-family: Consolas, monaco, monospace;
  --sw-font-size: 62.5%; // such that 1rem == 10px

  --sw-header-height: 32px;

  /** app specific **/
  --dotpi-command-height: 400px;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sw-background-color);
  color: var(--sw-font-color);
}

html {
  font-size: var(--sw-font-size);
}

* {
  box-sizing: border-box;
  font-family: var(--sw-font-family);
}

body.loading {
  background-image: url(../../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#header {
  display: block;
  height: var(--sw-header-height);
  line-height: var(--sw-header-height);
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #343434;

  h1 {
    font-size: 12px;
    margin: 0;
    padding-left: 12px;
  }

  .col-left {
    display: flex;
  }

  sc-icon, sc-fullscreen {
    height: var(--sw-header-height);
    width: var(--sw-header-height);
  }

  sc-icon[type=redo] {
    background-color: var(--sc-color-secondary-1);
  }

  sc-icon[type=shutdown] {
    background-color: var(--sc-color-secondary-3);
  }
}

#main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--sw-header-height));

  .col-left {
    width: max(800px, 60vw);
    height: 100%;
    display: flex;
    flex-direction: column;

    dotpi-commands {
      overflow: auto;
    }

    dotpi-client-list {}
  }
}

.vertical-handle {
  width: 1px;
  height: 100%;
  background-color: var(--sc-color-primary-4);
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 10;
  }
}

.horizontal-handle {
  height: 1px;
  width: 100%;
  background-color: var(--sc-color-primary-4);
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 10;
  }
}

dotpi-client-list {
  z-index: 1000;
}

dotpi-log {
  position: relative;
  z-index: 2000;
  width: 50%;
  height: calc(100vh - var(--sw-header-height));
}
